extends ../base_layout

block contents
    h1 Oeps, er lijkt iets mis te zijn gegaan!
    p Je hebt verkeerde gegevens ingevoerd. Gebruik enkel cijfers,letters en ,.?:!'-
    a(href='/comments/', class="wrongInputA") Terug naar comments